<h2>Add New Book</h2>
<form action="/add" method="POST">
  <input name="title" placeholder="Title" required /><br/>
  <input name="author" placeholder="Author" required /><br/>
  <input name="price" type="number" placeholder="Price" required /><br/>
  <input name="genre" placeholder="Genre" required /><br/>
  <button type="submit">Add Book</button>
</form>
<a href="/"><button>Back</button></a>
