<h2>Delete Book</h2>
<% books.forEach(book => { %>
  <form action="/delete/<%= book._id %>" method="POST">
    <p><%= book.title %> by <%= book.author %></p>
    <button type="submit">Delete</button>
  </form>
<% }) %>
<a href="/"><button>Back</button></a>
