<!DOCTYPE html>
<html>
<head><title>Bookstore</title></head>
<body>
  <h1>Online Bookstore</h1>
  <a href="/add"><button>Add Book</button></a>
  <a href="/view"><button>View Books</button></a>
  <a href="/update"><button>Update Book</button></a>
  <a href="/delete"><button>Delete Book</button></a>
</body>
</html>
