<!DOCTYPE html>
<html>
<head>
  <title>Add Employee</title>
</head>
<body>
  <h2>Add Employee</h2>
  <form action="/add" method="POST">
    <input name="name" placeholder="Name" required><br>
    <input name="department" placeholder="Department" required><br>
    <input name="designation" placeholder="Designation" required><br>
    <input type="number" name="salary" placeholder="Salary" required><br>
    <input type="date" name="joiningDate" required><br>
    <button type="submit">Add</button>
  </form>
  <a href="/"><button>Back</button></a>
</body>
</html>
