<!DOCTYPE html>
<html>
<head>
  <title>Employee Manager</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>Employee Management</h1>
    <%- body %>
  </div>
</body>
</html>
